.org-user-type-group {
	border: 1px solid lightgray;
	padding: 0 .5em;
	margin: .5em;

	h4 {
		margin: .5em 0;
		text-decoration: underline;
	}

	table {
		  th, td {
			  padding-top: 5px;
			  padding-bottom: 5px;
		  }
	}

	p.submit {
		margin-top: 5px;
		padding-bottom: 5px;
	}
}

.closing, .closing-org {
	border: 1px solid lightgray;
	padding: 0 .5em;
	margin: .5em;

	&.primary {
		border: 4px outset darkgray;
	}
}

.closings_req_list {
	li { display: inline; }
}